body {
  display: flex;
  background-color: #202028;
  color: #fff;
  font-family: sans-serif;
  font-size: 2em;
  text-align: center;
}

.player {
  flex: 1 1 auto;
}

canvas {
  border: solid 0.1em #fff;
  height: 65vh;
}

#score {
  margin-top: 5%;
}
