body {
  min-width: 540px;
  background-color: #202028;
  color: #fff;
  font-family: sans-serif;
  font-size: 1.5em;
  text-align: center;
}

.details {
  width: 20%;
  float: left;
  margin-top: 5%;
  text-align: right;
  line-height: 16px;
}

canvas {
  margin-left: -20%;
  margin-top: 5%;
  border: solid 0.2em #fff;
  height: 80vh;
}

@media (max-width: 768px) {
  body {
    font-size: 1em;
    text-align: center;
  }
  .details {
    width: 15%;
    float: left;
    margin-top: 5%;
    text-align: right;
    line-height: 1em;
  }
  canvas {
    margin-left: -5%;
    margin-top: 5%;
    height: 70vh;
  }
}
