$darkBlue:#202028;
$white: #fff;
$transBlack: rgba(0, 0, 0, .65);

body, html {
    background-image: url('https://s19.postimg.cc/53hmmyd9f/stars-3000x2000-pink-cosmos-hd-7164.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:$white;
    font-family: 'Lucida Console';
    height: 100%;
    text-align: center;
    min-width: 620px;
}

.wrapper {
    display: inline-flex;
    justify-content: center;
    margin: 1% 0;
    padding: 3% 3%;
    background: $transBlack;
    box-shadow: -1px 5px 5px rgba(0, 0, 0, .75);;
}

.modal {
    margin-top: 20vh !important;
    border: solid .05em $white;
    box-shadow: -15px 20px 20px rgba(0, 0, 0, .75) !important;
}

.modal-content {
    background: $darkBlue;
}

.modal-content .btn {
    font-size: 18px !important;
}

.detailsLeft {
    width: 180px;
    margin-right: 4%;
    margin-top: 3%;
    text-align: right;
    line-height: 16px;
    font-size: 22px;
    font-weight: bold;
  }

.detailsRight {
    width: 200px;
    margin-left: 4%;
    margin-top: 3%;
    text-align: left;
    line-height: 16px;
}

.controls {
    margin-top: 35vh;
    font-size: 16px;
}

.tetris {
    border: solid .25em $white;
    height: 80vh;
    margin-bottom: 2%;
}

.next {
    border: solid .1em $white;
}

@media (max-width: 900px){
    body, html {
    font-size: 16px;
    margin: 0px !important;
    }
    
    .wrapper {
        display: inline-flex;
        justify-content: center;
        background: rgba(0, 0, 0, .5) !important;
        padding: 0% 0%;
        background: $transBlack;
        margin: 0px !important;
        height: 100%;
        width: 100%;
        min-width: 640px;
    }
    
    .detailsLeft {
        width: 120px;
        margin-right: 2%;
        margin-top: 5%;
        line-height: 16px;
        font-size: 18px;
      }
    
    .detailsRight {
    width: 160px;
    margin-left: 2%;
    margin-top: 7%;
    text-align: left;
    line-height: 14px;
    }

    .controls {
        margin-top: 40vh;
        font-size: 14px;
    }
    
    .tetris {
        border: solid .25em $white;
        height: 80vh;
        margin-bottom: 3%;
        margin-top: 3%;
    }
    
    .next {
        border: solid .1em $white;
        height: 120px;
    }
}