$darkBlue:#202028;
$white: #fff;
$transBlack: rgba(0, 0, 0, .65);

body, html {
    background-image: url('https://s19.postimg.cc/53hmmyd9f/stars-3000x2000-pink-cosmos-hd-7164.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:$white;
    font-family: 'Lucida Console';
    height: 100%;
    overflow: hidden;
    text-align: center;
    min-width: 720px;
}

.wrapper {
    display: inline-flex;
    justify-content: center;
    margin: 2% 0;
    padding: 2% 0;
    background: $transBlack;
    box-shadow: -1px 5px 5px rgba(0, 0, 0, .75);;
}

.modal {
    margin-top: 20vh !important;
    border: solid .05em $white;
    box-shadow: -15px 20px 20px rgba(0, 0, 0, .75) !important;
    min-width: 500px;
}

.modal-content {
    background: $darkBlue;
}

.modal-content .btn {
    font-size: 18px !important;
}

.modal-content input {
    color: white;
    font-size: 24px !important;
    width: 50% !important;
    text-align: center;
}

.modal-content label {
    font-size: 16px !important;
}

.detailsLeft {
	position: relative;
	height: 80vh;
	width: 120px;
	margin: 0% 2%;
	text-align: right;
	font-size: 14px;
	font-weight: bold;
  }

  .highScores {
    position: absolute;
    bottom: 0px;
    right: 0px;
    line-height: 10px;
    font-size: 12px;
  }

.detailsRight {
    position: relative;
    height: 80vh;
    margin: 2% 2%;
    text-align: left;
}

.next {
	height: 15vh;
	border: solid .1em $white;
}

.controls {
    position: absolute;
    bottom: 20px;
    left: 0px;
    font-size: 12px;
    line-height: 8px;
}

.tetris {
	height: 80vh;
    border: solid .25em $white;
}

@media (max-width: 900px){
    body, html {
        font-size: 16px;
        margin: 0px !important;
    }
    
    .wrapper {
        display: inline-flex;
        justify-content: center;
        background: rgba(0, 0, 0, .5) !important;
        padding: 0% 0%;
        background: $transBlack;
        margin: 0px !important;
        height: 100%;
        width: 100%;
    }
    
    .detailsLeft {
		width: 100px;
        margin: 5% 2%;
		font-size: 14px;
      }
		
	  .highScores {
        line-height: 8px;
  }
    
    .detailsRight {
		width: 120px;
		margin: 7% 2%;
		text-align: left;
    }
	
	  .next {
        border: solid .1em $white;
		height: 12vh;
    }

    .controls {
	    line-height: 8px;
    }
    
    .tetris {
			height: 80vh;
      border: solid .25em $white;
      margin-bottom: 2%;
      margin-top: 5%;
    }
    

}